{% extends 'PreEntrega/base.html' %}

{%block titulo%} Listado de Personas {%endblock%}

{% block listado %}

<form>
    <p>
        <label for="id_criterio_nombre">Apellido</label>
        <input type="text" name="criterio_nombre" maxlength="100" required="" id="criterio_nombre">

    </p>
    <p>
        <input type="submit" value="Buscar">
    </p>
</form>

<ul>
    {% for persona in personas %}
         <li>{{persona}} </li>
     {% endfor %}
</ul>
{% endblock %}

{% block title %} Total Personas {{total_personas}} {% endblock %}